.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}
.login-main {
    display: flex;
}

.image-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.image-size {
    width: 200px;
}

.login-card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(117, 117, 117, 0.2);
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 8px;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card input {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.login-card button {
    padding: 12px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-card-title {
    margin: 0 0 20px 0;
    font-size: 2em;
    text-align: center;
}

.navbar{
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: solid #dddddd;
}
.img{
    display: flex;
    width: auto;
    height: 10em;
}
.texte1{
    display: flex;
    margin: auto;
    margin-left: 50%;
    font-size: 2em;
}

.login-container{
    display: flex;
    margin: auto;
}
.imgLogin{
    position: absolute;
    right: 1em;
    top: 3em;
    display: flex;
    margin: auto;
    width: 5em;
    height: 5em;
    cursor: pointer;
}
.Article{
    display: flex;
    width: 90%;
    height: auto;
    padding: 3em;
    margin: auto;
    margin-top: 2em;
    border: solid #e4e4e4;
    position: relative;
}
footer{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2em;
    background-color: #e4e4e4;
    justify-content: space-around;
}
.footer2{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #e4e4e4;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

.texte2{
    padding: 5em;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
thead {
    background-color: #f2f2f2;
}
tfoot {
    background-color: #e2e2e2;
}
.joueur-container{
    margin-left: 15em;
}

.joueur-table{
    margin-top: 3em;
    margin-bottom: 3em;
}
.joueur-img{
    display: flex;
    width: 30em;
    height: auto;
    position: absolute;
    right: 10em;
    top: 60%;
}
.commentaire-joueur{
    display: flex;
}
.labels-container {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    display: flex;
    gap: 5em;
}

.labels-container a {
    display: block;
}
.link1, .link2 {
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.commentaires-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 15em;
}
.commentaire{
    display: flex;
    width: 60%;
    height: auto;
    padding: 2em;
    align-items: center;
}
.img-comm{
    display: flex;
    width: 4em;
    padding-right: 2em;
}

.img-article{
    display: flex;
    width: auto;
    height: 20em;
}